#logo-banner {
    height: auto;
    background-color: green;
}

#logo {
    padding-left: 1em;
}

#logo-text {
    display: inline-block;
    vertical-align: top;
    margin-left: -41px;
}

#logo-title {
    color: orange;
    font-size: xx-large;
    font-family: system-ui;
    font-weight: bolder;
}

#logo-subtitle {
    text-align: center;
    color: lightgreen;
    font-size: medium;
    opacity: 0.5;
}

#page-title {
    font-size: large;
    padding-left: 4.0em;
    padding-top: 1em;
    font-weight: bold;
}

.left-aligned-field {
    text-align: left;
}

#customer-icon {
    --customer-image-size: 110px;
    margin-top: calc(var(--customer-image-size) * -1 );
    transform: translateY(var(--customer-image-size));
    width: var(--customer-image-size);
    border-color: gray;
    border-width: thin;
    border-style: solid;
    background-color: white;
}

#custrec-chart {
    --custrec-chart-width: 300px;
    --custrec-chart-height: 200px;
    margin-top: calc(var(--custrec-chart-height) * -1 );
    transform: translateY(var(--custrec-chart-height));
    width: var(--custrec-chart-width);
    height: var(--custrec-chart-height);
    background-color: whitesmoke;
    border-style: solid;
    border-color: lightgrey;
    border-width: medium;
}

.large-bold-text {
    font-size: large !important;
    font-weight: bold;
}

.box-highlight-center-field {
    background-color: black;
    color: white;
    text-align: center;
}

.present-no-visible-field {
    opacity: 0.1;
}

.non-visible-field {
    display: none;
}

#customer-prompt-go-back-icon {
    transform: translateY(-55px) scale(75%);
}