@page
@model CUSTDSPF
@{
    ViewData["Title"] = "CUSTDSPF";
}

@* Migrated on 9/28/2021 at 10:28 AM by ASNA Monarch(R) version 10.0.48.0 *@
@* Legacy location: library ERCAP, file QDDSSRC, member CUSTDSPF *@


<form id="MonarchForm" method="post">
    <DdsFile DisplayPageModel="Model">

        <DdsFunctionKeys Location=HorizontalBottom/>

        <main role="main" class="display-element-uninitialized">
            @{
                int SFLC_SubfilePage = 20; // Was 14 originally.
            }
            <DdsSubfileControl StretchConstantText=false For="SFLC" KeyNames="ENTER 'Submit'; F3 'Exit'; PageUp '◀ Page'; PageDown 'Next ▶'; F9 'Spool Files'" SubfilePage="@SFLC_SubfilePage" CueCurrentRecord=true ClickSetsCurrentRecord=true>
                <div id="page-title">Customer Inquiry</div>
                <div Row="2">
                    <DdsConstant Col="1+55+1" Text="Position to name:" />
                    <DdsCharField Col="10+1+55+1" ColSpan="20" LimitMaxLength=true For="SFLC.SETNAME" VirtualRowCol="2,70" tabIndex=1 />
                </div>
                <div Row="3">
                    <DdsConstant Col="2" ColSpan="15" Text="Selection" Color="DarkBlue" Underline="*True" />
                    <DdsConstant Col="10+7+1" Text="Custno" Color="DarkBlue" Underline="*True" />
                    <DdsConstant Col="8+10+7+1" ColSpan="30" Text="Customer Name" Color="DarkBlue" Underline="*True" />
                    <DdsConstant Col="1+55+1" ColSpan="30" Text="City / State / Zip" Color="DarkBlue" Underline="*True" />
                </div>
                <div Row="4" RowSpan="@SFLC_SubfilePage">
                    @for (int rrn=0; rrn < Model.SFLC.SFL1.Count; rrn++)
                    {
                        int row = 8 + rrn;
                        <DdsSubfileRecord RecordNumber="rrn" For="SFLC.SFL1">
                            <DdsDecField Col="2" For="SFLC.SFL1[rrn].SFSEL" VirtualRowCol="@row,4" EditCode="Z" ValuesText="' ','Update','Display sales','Delivery Addresses','Create sales record','Print sales (oline)','Print sales (batch)','Orders'" tabIndex=2 />
                            <DdsDecField Col="10+7+1" For="SFLC.SFL1[rrn].SFCUSTNO" Color="Green : !61 , DarkBlue : 61" EditCode="Z" Comment="CUSTOMER NUMBER" />
                            <DdsCharField Col="11+14+1" ColSpan="30" For="SFLC.SFL1[rrn].SFNAME1" Upper=true Color="Green : !61 , DarkBlue : 61" />
                            <DdsCharField Col="1+55+1" ColSpan="30" For="SFLC.SFL1[rrn].SFCSZ" Upper=true Color="Green : !61 , DarkBlue : 61" Comment="CITY-STATE-ZIP" />
                        </DdsSubfileRecord>
                    }
                </div>
            </DdsSubfileControl>
            <DdsRecord For="CUSTREC" StretchConstantText=false KeyNames="ENTER 'Submit'; F3 'Exit'; F4 'Prompt'; F6 'New Customer'; F11 'Remove Customer'; F12 '◀ Back';">
                <div id="page-title">Customer Maintenance</div>

                <div Row="2">
                    <DdsConstant Col="8" Text="Account number" />
                    <DdsDecField class="left-aligned-field" Col="20" For="CUSTREC.SFCUSTNO" Color="DarkBlue" EditCode="Z" Comment="CUSTOMER NUMBER" />
                    @*<DdsCharField Col="35+5" For="CUSTREC.SFOLDNAME" Upper=true Color="DarkBlue" />*@
                </div>

                <div Row="3">
                    <img id="customer-icon" Col="8" src="~/customer-icon.svg" />
                </div>

                <div Row="4">
                    <DdsConstant Col="20" Text="Name" />
                    <DdsCharField Col="27" ColSpan="25" LimitMaxLength=true For="CUSTREC.SFNAME" VirtualRowCol="7,27" PositionCursor="40" tabIndex=2 />
                </div>
                <div Row="5">
                    <DdsConstant Col="20" Text="Address" />
                    <DdsCharField Col="27" ColSpan="25" LimitMaxLength=true For="CUSTREC.SFADDR1" VirtualRowCol="8,27" PositionCursor="41" tabIndex=3 />
                </div>
                <div Row="6">
                    <DdsCharField Col="27" ColSpan="25" LimitMaxLength=true For="CUSTREC.SFADDR2" VirtualRowCol="9,27" tabIndex=4 />
                </div>
                <div Row="7">
                    <DdsConstant Col="20" Text="City" />
                    <DdsCharField Col="27" ColSpan="10" LimitMaxLength=true For="CUSTREC.SFCITY" VirtualRowCol="10,27" PositionCursor="42" tabIndex=5 />
                    <DdsCharField Col="10+1+27" For="CUSTREC.SFSTATE" Upper=true VirtualRowCol="11,27" PositionCursor="43" tabIndex=6 />
                    <DdsCharField Col="10+1+2+2+27" For="CUSTREC.SFPOSTCODE" Upper=true VirtualRowCol="11,37" tabIndex=7 />
                </div>
                @*<div Row="8">
            <DdsConstant Col="10" Text="Status" />
            <DdsCharField Col="27" For="CUSTREC.SFSTATUS" Upper=true VirtualRowCol="15,27" PositionCursor="44" tabIndex=10 />
            <DdsConstant Col="30+5" Text="(F4)" Color="Blue" />
        </div>*@
                <div Row="8">
                    <DdsConstant Col="10" Text="Contact Name" />
                    <DdsCharField Col="20" For="CUSTREC.SFCONTACT" Upper=true VirtualRowCol="16,27" tabIndex=11 />
                </div>
                <div Row="9">
                    <DdsConstant Col="10" Text="Contact eMail" />
                    <DdsCharField Col="20" For="CUSTREC.SFCONEMAL" Upper=true VirtualRowCol="17,27" tabIndex=12 />
                </div>
                <div Row="10">
                    <DdsConstant Col="10" Text="Phone" />
                    <DdsCharField Col="20" ColSpan="10" LimitMaxLength=true class="left-aligned-field" For="CUSTREC.SFPHONE" Upper=true VirtualRowCol="14,27" tabIndex=9 />
                    <DdsConstant Col="33" Text="Fax" />
                    <DdsDecField Col="36" For="CUSTREC.SFFAX" class="left-aligned-field" VirtualRowCol="13,27" EditWord="(   )   -    " tabIndex=8 />
                    <DdsConstant Col="47" Text="Send Confirmation" />
                    <DdsCharField Col="58" For="CUSTREC.SFYN01" Upper=true VirtualRowCol="18,27" tabIndex=13 />
                    <DdsConstant Col="61" Text="(Y/N)" />
                </div>

                <div Row="12">
                    <DdsConstant Col="8" Text="Last registered sales" />
                </div>
                <div Row="13">
                    <DdsConstant Col="12" Text="Jan" />
                    <DdsDecField Col="15" For="CUSTREC.CSSALES01" EditCode=One />
                    <DdsConstant Col="30" Text="Feb" />
                    <DdsDecField Col="35" For="CUSTREC.CSSALES02" EditCode=One />
                    <DdsConstant Col="48" Text="Mar" />
                    <DdsDecField Col="51" For="CUSTREC.CSSALES03" EditCode=One />
                    <DdsConstant Col="66" Text="Apr" />
                    <DdsDecField Col="69" For="CUSTREC.CSSALES04" EditCode=One />
                </div>
                <div Row="14">
                    <DdsConstant Col="12" Text="May" />
                    <DdsDecField Col="15" For="CUSTREC.CSSALES05" EditCode=One />
                    <DdsConstant Col="30" Text="Jun" />
                    <DdsDecField Col="35" For="CUSTREC.CSSALES06" EditCode=One />
                    <DdsConstant Col="48" Text="Jul" />
                    <DdsDecField Col="51" For="CUSTREC.CSSALES07" EditCode=One />
                    <DdsConstant Col="66" Text="Aug" />
                    <DdsDecField Col="69" For="CUSTREC.CSSALES08" EditCode=One />
                </div>
                <div Row="15">
                    <DdsConstant Col="12" Text="Sep" />
                    <DdsDecField Col="15" For="CUSTREC.CSSALES09" EditCode=One />
                    <DdsConstant Col="30" Text="Oct" />
                    <DdsDecField Col="35" For="CUSTREC.CSSALES10" EditCode=One />
                    <DdsConstant Col="48" Text="Nov" />
                    <DdsDecField Col="51" For="CUSTREC.CSSALES11" EditCode=One />
                    <DdsConstant Col="66" Text="Dec" />
                    <DdsDecField Col="69" For="CUSTREC.CSSALES12" EditCode=One />
                </div>
            </DdsRecord>
            <DdsRecord For="SALESREC" KeyNames="ENTER 'Enter'; F12 'Cancel';">
                <div Row="1">
                    <DdsConstant Col="2" Text=@System.Environment.UserName />
                    <DdsConstant Col="28" Text="M5 Customer Sales/Returns" Color="DarkBlue" />
                    <DdsConstant Col="64" Text=@DateTime.Today.ToString(@"MM\/dd\/yy") />
                    <DdsConstant Col="73" Text=@DateTime.Now.ToString("HH:mm:ss") />
                </div>
                <div Row="2">
                    <DdsCharField Col="2" For="SALESREC.SCPGM" Upper=true />
                    <DdsConstant Col="32" Text="Sales Information" Color="DarkBlue" />
                </div>
                <div Row="7">
                    <DdsDecField Col="20" For="SALESREC.SFCUSTNO" Color="DarkBlue" EditCode="Z" Comment="CUSTOMER NUMBER" />
                    <DdsCharField Col="28" For="SALESREC.SFNAME" Upper=true Color="DarkBlue" />
                </div>
                <div Row="10">
                    <DdsConstant Col="22" Text="Total Sales:" />
                    <DdsDecField Col="35" For="SALESREC.SFSALES" Color="DarkBlue" EditCode="J" />
                </div>
                <div Row="12">
                    <DdsConstant Col="20" Text="Total Returns:" />
                    <DdsDecField Col="35" For="SALESREC.SFRETURNS" Color="DarkBlue" EditCode="J" />
                </div>
                <div Row="23">
                    <DdsConstant Col="3" Text="F12=Previous" Color="Blue" />
                </div>
            </DdsRecord>
            <DdsRecord For="KEYS" KeyNames="ENTER 'Enter'; ">
            </DdsRecord>
            @{
                int MSGSFC_SubfilePage = 1;
            }
            <DdsSubfileControl For="MSGSFC" KeyNames="ENTER 'Enter'; " SubfilePage="@MSGSFC_SubfilePage">
                <div Row="24" RowSpan="@MSGSFC_SubfilePage">
                    @for (int rrn=0; rrn < Model.MSGSFC.MSGSF.Count; rrn++)
                    {
                        int row = 24 + rrn;
                        <DdsSubfileRecord RecordNumber="rrn" For="MSGSFC.MSGSF">
                            <DdsCharField Col="2" For="MSGSFC.MSGSF[rrn].MessageText" Upper=true />
                        </DdsSubfileRecord>
                    }
                </div>
            </DdsSubfileControl>

            <DdsMessagePanel />

        </main>
    </DdsFile>
</form>
