@{
    Layout = "_Layout";
}

<div id="logo-banner">
    <img id="logo" src="~/images/sun-farm.png" />
    <div id="logo-text">
        <div id="logo-title">sunfarm</div>
        <div id="logo-subtitle">always fresh</div>
    </div>
</div>