@page
@model CustomerAppSite.Pages.Asna.ExpiredSessionModel
@{
    ViewData["Title"] = "Expired ASNA Monarch Session";
}

<h1>Session Has Expired</h1>
<br />
<br />
<div>
    Your ASNA Monarch<sup>&reg;</sup> Session has Expired.
</div>
<br />
<br />
<br />
<div>
    For production work you can either replace the contents of this display with your own text and images or you can redirect the user back to a main menu.
</div>
